<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gyuri.recomsys">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UsersActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

        <activity
            android:name=".PurchaseBookActivity"
            android:label="@string/title_activity_purchase_book"
            android:parentActivityName=".UsersActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.gyuri.recomsys.UsersActivity" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="Regisztrálás"
            android:parentActivityName=".UsersActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.gyuri.recomsys.UsersActivity" />
        </activity>
        <activity
            android:name=".PurchasesListActivity"
            android:label="Vásárlások listája"
            android:parentActivityName=".UsersActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.gyuri.recomsys.UsersActivity" />
        </activity>

        <activity
            android:name=".ViewPurchaseActivity"
            android:label="Vásárlásom"
            android:parentActivityName=".PurchasesListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.gyuri.recomsys.UsersActivity" />
        </activity>

    </application>

</manifest>
